@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500;1,600&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    background-color: #F2FA5A;
}

.navbar {
    background: transparent;
    margin:10px 30px;
}

#navbarNav {
    justify-content: end;
}

.jumbotron {
    margin: 200px 200px;
}

.botbar {
    background-color: #F2FA5A;
    padding: 10px;
    text-align: center;
}

#contact {
    background-color: white;
    padding: 100px;
}

footer {
    padding: 10px;
    background-color: #F2FA5A;
    text-align: center;
}